body {
	background-image: url("http://assets.zdenekborovec-dev.cz/common/stones_tile.png");
	background-repeat: repeat;
	display: flex;
}

main {
	/* Constrain the width of the element */
	width: 64em;
	max-width: 64em;
	flex: 1;

	/* center the element */
	align-self: center;
	margin: auto;

	background-image: url("http://assets.zdenekborovec-dev.cz/common/planks_light_tile.png");
	background-repeat: repeat;
	background-color: white;
	color: black;
	border-radius: 2em;
	border-style: outset;
}

article {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: dashed;
	border-width: 1px;
	color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

code {
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 0.5em;
	background-color: #282828;
	color: #33ff00;
	padding: 1em;
	display: block;
}

#header {
	border-bottom: double;
}

#header h1{
	padding-left: 1em;
	padding-right: 1em;
}

#header ul {
	background-color: #202020;
	background-image: url("http://assets.zdenekborovec-dev.cz/common/planks_dark_tile.png");
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	text-align: center;
	display: flex;
	list-style-type: none;
}

#header ul li {
	float: left;
	position: relative;
	flex-grow: 1;
	border-style: solid;
	border-width: thin;
	border-color: black;
}

#header ul li a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
}

#footer {
	border-top: double;
	padding: 1em;
}

.image-container {
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 0.5em;
	float: right;
	background-image: url("http://assets.zdenekborovec-dev.cz/common/planks_dark_tile.png");
	background-repeat: repeat;
	background-color: black;
	color: white;
	padding: 1em;
}

.image-container img {
	border-radius: 0.5em;
	border-style: solid;
	border-width: thin;
	border-color: black;
}

.image-container p {
	font-style: italic;
	margin-bottom: 0;
}

.image-gallery {
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 0.5em;
	background-image: url("http://assets.zdenekborovec-dev.cz/common/planks_dark_tile.png");
	background-repeat: repeat;
	background-color: black;
	color: white;
	padding: 1em;
	margin-left: 1em;
}

.image-gallery div {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	columns: 16em;
	gap: 1em;
}

.image-gallery div div {
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 0.5em;
	background-image: url("http://assets.zdenekborovec-dev.cz/common/planks_light_tile.png");
	background-repeat: repeat;
	background-color: white;
	color: black;
	padding: 1em;
	max-height: 100%;
	display: block;
}

.image-gallery div div img {
	border-radius: 0.5em;
	border-style: solid;
	border-width: thin;
	border-color: black;
	object-fit: contain;
}

.image-gallery div div p {
	font-style: italic;
	margin-bottom: 0;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
}

.blog-metadata .blog-tag {
	border-style: solid;
	border-width: thin;
	border-color: black;
	border-radius: 0.5em;
	padding: 0.2em;
	margin: 0.2em;
}

.blog-metadata .blog-publish-date {
	float: right;
}
